:root {
  --control-node-color: #f570ff;
  /* --control-node-color: #3d7eff; */
  /* --control-node-color: #3da8ff; */
}

.App {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* background: #a8ffb0; */
  background: #f0f0f0;
}

svg {
  max-height: 70vh;
}

svg.bot {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 1.5;
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 14px;
}

line.control,
path.control {
  stroke: var(--control-node-color);
  stroke-width: 2px;
  fill: none;
}

circle.control {
  fill: var(--control-node-color);
  stroke: var(--control-node-color);
  stroke-width: 0px;
  transition: stroke-width ease-in-out 100ms;
}

circle.control:hover {
  stroke-width: 20px;
  cursor: default;
}

.control.visible {
  opacity: 1;
}

.control.hidden {
  opacity: 0;
}
